@import url(fonts.css);
@import url(../libs/animate/animate.min.css);
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'RobotoRegular', sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  background-color: #202d3a;
  background-image: url(../images/header_bg.png);
  background-position: bottom right;
  background-size: 20%;
  background-repeat: no-repeat;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.preloader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 25px;
  margin-top: -13px;
  margin-left: -3px;
  text-align: center;
  overflow: hidden;
}

.preloader {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-top-color: #fff;
  border-right-color: #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-animation: rotate 3s ease-in-out infinite;
          animation: rotate 3s ease-in-out infinite;
  -webkit-transform: rotate(-200deg);
      -ms-transform: rotate(-200deg);
          transform: rotate(-200deg);
  opacity: 1;
}

@-webkit-keyframes rotate {
  0% {
    border-width: 10px;
  }
  25% {
    border-width: 3px;
  }
  50% {
    -webkit-transform: rotate(115deg);
            transform: rotate(115deg);
    border-width: 10px;
  }
  75% {
    border-width: 3px;
  }
  100% {
    border-width: 10px;
  }
}

@keyframes rotate {
  0% {
    border-width: 10px;
  }
  25% {
    border-width: 3px;
  }
  50% {
    -webkit-transform: rotate(115deg);
            transform: rotate(115deg);
    border-width: 10px;
  }
  75% {
    border-width: 3px;
  }
  100% {
    border-width: 10px;
  }
}

.main {
  display: block;
  position: relative;
  width: 1280px;
  max-width: 100%;
  height: 640px;
  margin: 0 auto;
  color: #fff;
  opacity: 0;
}

.header {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  height: auto;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header__top-text,
.header__middle-text,
.header__bottom-text {
  margin: 0;
  letter-spacing: 1px;
}

.header__top-text {
  font-size: 60px;
  color: #2c3e50;
}

.header__middle-text {
  font-size: 72px;
  font-weight: normal;
}

.header__bottom-text {
  font-size: 36px;
  color: #2c3e50;
}

.main-block {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  z-index: 9;
}

.menu-icon,
.menu,
.main-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.menu-icon {
  width: 5%;
  height: 60px;
  margin-top: 100px;
  cursor: pointer;
  overflow: hidden;
}

.menu-icon_active .menu-icon__top-span {
  -webkit-animation: top-span-move 0.5s;
          animation: top-span-move 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-icon_active .menu-icon__middle-span {
  -webkit-animation: middle-span-move 0.5s;
          animation: middle-span-move 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-icon_active .menu-icon__bottom-span {
  -webkit-animation: bottom-span-move 0.5s;
          animation: bottom-span-move 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-icon__top-span,
.menu-icon__middle-span,
.menu-icon__bottom-span {
  position: absolute;
  left: 9px;
  width: 45px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.menu-icon__top-span {
  top: 15px;
  -webkit-animation: top-span-back 0.4s;
          animation: top-span-back 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-icon__middle-span {
  top: 28px;
  -webkit-animation: middle-span-back 0.4s;
          animation: middle-span-back 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-icon__bottom-span {
  top: 41px;
  -webkit-animation: bottom-span-back 0.4s;
          animation: bottom-span-back 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes top-span-move {
  0% {
    top: 15px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 28px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top-span-move {
  0% {
    top: 15px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 28px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-span-back {
  0% {
    top: 28px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    top: 15px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-span-back {
  0% {
    top: 28px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    top: 15px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes middle-span-move {
  0% {
    left: 9px;
  }
  100% {
    left: -100px;
  }
}

@keyframes middle-span-move {
  0% {
    left: 9px;
  }
  100% {
    left: -100px;
  }
}

@-webkit-keyframes middle-span-back {
  0% {
    left: -100px;
  }
  100% {
    left: 9px;
  }
}

@keyframes middle-span-back {
  0% {
    left: -100px;
  }
  100% {
    left: 9px;
  }
}

@-webkit-keyframes bottom-span-move {
  0% {
    top: 41px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 28px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes bottom-span-move {
  0% {
    top: 41px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 28px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes bottom-span-back {
  0% {
    top: 28px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    top: 41px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bottom-span-back {
  0% {
    top: 28px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    top: 41px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.menu,
.main-container {
  top: -1100px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.menu {
  width: 20%;
  padding: 50px 0;
  -webkit-animation: menu-back 0.5s;
          animation: menu-back 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu_active {
  -webkit-animation: menu-move 0.5s;
          animation: menu-move 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu__item {
  position: relative;
  width: 100%;
  height: 20%;
  margin-bottom: -1px;
  font-family: 'RobotoBold', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  border: 1px solid transparent;
  cursor: pointer;
}

.menu__item:last-child {
  margin-bottom: 0px;
}

.menu__item:hover .menu__menu-name {
  -webkit-animation: menu-name-move 0.5s;
          animation: menu-name-move 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu__item:hover .menu__menu-pic {
  opacity: 1;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.menu__menu-name,
.menu__menu-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu__menu-name {
  padding: 50px 0;
  -webkit-animation: menu-name-back 0.5s;
          animation: menu-name-back 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 2;
}

.menu__menu-name_active {
  -webkit-animation: menu-name-move 0.5s;
          animation: menu-name-move 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu__menu-pic {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.menu__menu-pic_active {
  opacity: 1;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.menu__menu-pic_about {
  background-image: url(../images/pic_3.jpg);
}

.menu__menu-pic_expirience {
  background-image: url(../images/pic_6.jpg);
}

.menu__menu-pic_skills {
  background-image: url(../images/pic_1.jpg);
}

.menu__menu-pic_portfolio {
  background-image: url(../images/pic_5.jpg);
}

.menu__menu-pic_contacts {
  background-image: url(../images/pic_4.jpg);
  background-position: 0% 100%;
}

@-webkit-keyframes menu-move {
  0% {
    top: -1100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes menu-move {
  0% {
    top: -1100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes menu-back {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -1100px;
    opacity: 0;
  }
}

@keyframes menu-back {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -1100px;
    opacity: 0;
  }
}

@-webkit-keyframes menu-name-move {
  0% {
    left: 0;
  }
  100% {
    left: -50%;
  }
}

@keyframes menu-name-move {
  0% {
    left: 0;
  }
  100% {
    left: -50%;
  }
}

@-webkit-keyframes menu-name-back {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@keyframes menu-name-back {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

.main-container {
  width: 75%;
  -webkit-animation: main-container-back 0.5s;
          animation: main-container-back 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: hidden;
}

.main-container_active {
  -webkit-animation: main-container-move 0.5s;
          animation: main-container-move 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-container__item {
  position: absolute;
  top: 0;
  right: 0;
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
  margin: 50px;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: main-container-item-back 0.5s;
          animation: main-container-item-back 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-container__item_active {
  -webkit-animation: main-container-item-move 0.5s;
          animation: main-container-item-move 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-container__header {
  margin: 0 0 50px 0;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-container__content {
  width: 100%;
  height: -webkit-calc(100% - 170px);
  height: calc(100% - 170px);
  border-radius: 20px;
  overflow: hidden;
}

.main-container__item_about .main-container__top-block {
  width: 100%;
  height: auto;
  padding: 15px 0;
  background-color: #de0000;
}

.main-container__item_about .main-container__top-block h3 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.main-container__item_about .main-container__top-block span {
  font-size: 25px;
  text-transform: lowercase;
  letter-spacing: 5px;
}

.main-container__item_about .main-container__middle-block {
  width: 100%;
  height: -webkit-calc(100% - 200px);
  height: calc(100% - 200px);
  padding: 50px 20px;
  color: #333;
  background-color: #fff;
}

.main-container__item_about .main-container__middle-block h2 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 40px;
  letter-spacing: 1px;
}

.main-container__item_about .main-container__middle-block p {
  margin: 0;
}

.main-container__item_about .main-container__bottom-block {
  width: 100%;
  height: 75px;
  background-color: #de0000;
}

.main-container__item_about .main-container__image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #586b4f;
  background-image: url(../images/photo.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container__item_expirience .main-container__content {
  padding: 25px 0;
  text-align: left;
}

.main-container__work-item {
  position: relative;
  width: 75%;
  height: 100px;
  margin: 25px 20px;
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
}

.main-container__work-item:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
}

.main-container__work-item:hover .work-item__hidden-block {
  display: block;
  -webkit-animation: hidden-block-move 0.5s;
          animation: hidden-block-move 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.work-item__hidden-block {
  position: absolute;
  display: none;
  bottom: -35px;
  width: 250px;
  height: auto;
  padding: 15px 10px;
  border-radius: 15px;
  text-align: left;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 9;
}

.work-item__hidden-block:before {
  content: '';
  position: absolute;
  display: block;
  top: -38px;
  left: 50%;
  margin-left: -20px;
  border: 20px solid transparent;
  background-color: transparent;
}

.work-item__hidden-block h4 {
  font-size: 18px;
  text-align: center;
}

.main-container__work-item_apelsun {
  float: left;
  background-color: #ff6600;
}

.main-container__work-item_apelsun .work-item__hidden-block {
  right: 0;
  background-color: inherit;
}

.main-container__work-item_apelsun .work-item__hidden-block:before {
  border-bottom: 20px solid #ff6600;
}

.main-container__work-item_freelance {
  float: right;
  background-color: #cc0099;
}

.main-container__work-item_freelance .work-item__hidden-block {
  left: 0;
  background-color: inherit;
}

.main-container__work-item_freelance .work-item__hidden-block:before {
  border-bottom: 20px solid #cc0099;
}

@-webkit-keyframes hidden-block-move {
  0% {
    bottom: -15px;
  }
  100% {
    bottom: -35px;
  }
}

@keyframes hidden-block-move {
  0% {
    bottom: -15px;
  }
  100% {
    bottom: -35px;
  }
}

.main-container__tag {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 -5px;
  border: none;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  vertical-align: middle;
}

.main-container__tag_left {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-container__tag_right {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.main-container__tag-name {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 24px;
  font-weight: normal;
  vertical-align: baseline;
}

.main-container__tag-name_open {
  text-align: left;
}

.main-container__tag-name_close {
  text-align: right;
}

.main-container__tag-date {
  display: inline-block;
  margin: 0 25px;
  vertical-align: baseline;
}

.main-container__tag-date p {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.skills-item {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 30px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  vertical-align: middle;
}

.skills-item:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.skills-item-html {
  background-color: rgba(227, 79, 38, 0.3);
}

.skills-item-html .skills-item__overlay {
  background-color: #e34f26;
}

.skills-item-html .skills-item__percent:after {
  content: 'html';
  color: #7a2710;
}

.skills-item-css {
  background-color: rgba(41, 101, 241, 0.3);
}

.skills-item-css .skills-item__overlay {
  background-color: #2965f1;
}

.skills-item-css .skills-item__percent:after {
  content: 'css';
  color: #093291;
}

.skills-item-jquery {
  background-color: rgba(122, 206, 244, 0.3);
}

.skills-item-jquery .skills-item__overlay {
  background-color: #7acef4;
}

.skills-item-jquery .skills-item__percent:after {
  content: 'jquery';
  color: #129ddc;
}

.skills-item-js {
  background-color: rgba(247, 223, 30, 0.3);
}

.skills-item-js .skills-item__overlay {
  background-color: #f7df1e;
}

.skills-item-js .skills-item__percent:after {
  content: 'js';
  color: #908105;
}

.skills-item-less {
  background-color: rgba(42, 79, 132, 0.3);
}

.skills-item-less .skills-item__overlay {
  background-color: #2a4f84;
}

.skills-item-less .skills-item__percent:after {
  content: 'less';
  color: #0b1523;
}

.skills-item-sass {
  background-color: rgba(205, 102, 154, 0.3);
}

.skills-item-sass .skills-item__overlay {
  background-color: #cd669a;
}

.skills-item-sass .skills-item__percent:after {
  content: 'sass';
  color: #872c5a;
}

.skills-item-git {
  background-color: rgba(110, 84, 148, 0.3);
}

.skills-item-git .skills-item__overlay {
  background-color: #6e5494;
}

.skills-item-git .skills-item__percent:after {
  content: 'git';
  color: #322643;
}

.skills-item-php {
  background-color: rgba(136, 146, 190, 0.3);
}

.skills-item-php .skills-item__overlay {
  background-color: #8892be;
}

.skills-item-php .skills-item__percent:after {
  content: 'php';
  color: #465180;
}

.skills-item-csharp {
  background-color: rgba(105, 0, 129, 0.3);
}

.skills-item-csharp .skills-item__overlay {
  background-color: #690081;
}

.skills-item-csharp .skills-item__percent:after {
  content: 'c#';
  color: #010001;
}

.skills-item-bem {
  background-color: rgba(42, 232, 151, 0.3);
}

.skills-item-bem .skills-item__overlay {
  background-color: #2ae897;
}

.skills-item-bem .skills-item__percent:after {
  content: 'bem';
  color: #0e8452;
}

.skills-item__percent {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
}

.skills-item__percent:after {
  position: absolute;
  bottom: -25px;
  left: 50%;
  font-size: 22px;
  font-weight: bold;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.skills-item__overlay {
  position: absolute;
  bottom: -1px;
  left: -5px;
  right: -5px;
  width: -webkit-calc(100% + 10px);
  width: calc(100% + 10px);
  height: 0%;
}

.main-container__item_portfolio {
  font-size: 0;
  overflow: visible;
}

.main-container__item_portfolio .main-container__content {
  border-radius: 0;
  overflow: visible;
}

.portfolio-item {
  position: relative;
  display: inline-block;
  width: -webkit-calc(50% - 60px);
  width: calc(50% - 60px);
  height: 200px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 14px;
  -webkit-perspective: 800px;
          perspective: 800px;
  vertical-align: top;
  z-index: 9;
}

.portfolio-item__inner_image-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: 0.6s;
          transition: 0.6s;
  z-index: 1;
}

.portfolio-item__inner_image-layer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  box-shadow: 0 0 100px 50px #2c3e50;
  opacity: 0;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transform: rotateX(114deg) translateZ(-26px) translateY(110px) scale(0.75);
          transform: rotateX(114deg) translateZ(-26px) translateY(110px) scale(0.75);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}

.portfolio-item__inner_image-layer img {
  height: 100%;
}

.portfolio-item__inner_info-layer {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  -webkit-transition: 0.6s;
          transition: 0.6s;
  -webkit-transform: rotateX(70deg);
          transform: rotateX(70deg);
}

.portfolio-item__name_dtek {
  color: #fadb44;
}

.portfolio-item__name_wexler {
  color: #429ccf;
}

.portfolio-item__name_stroybaza {
  color: #f90;
}

.portfolio-item__name_fs {
  color: #da4748;
}

.portfolio-item__name_tvis {
  color: #004590;
}

.portfolio-item__name_latte {
  color: #f0c3cd;
}

.portfolio-item__link {
  color: #fff;
}

.portfolio-item__link_dtek:hover {
  color: #fadb44;
}

.portfolio-item__link_wexler:hover {
  color: #429ccf;
}

.portfolio-item__link_stroybaza:hover {
  color: #f90;
}

.portfolio-item__link_fs:hover {
  color: #da4748;
}

.portfolio-item__link_tvis:hover {
  color: #004590;
}

.portfolio-item__link_latte:hover {
  color: #f0c3cd;
}

.portfolio-item_image-effect-fall-back:hover .portfolio-item__inner_image-layer {
  -webkit-transform: rotateX(70deg);
          transform: rotateX(70deg);
}

.portfolio-item_image-effect-fall-back:hover .portfolio-item__inner_image-layer:before {
  opacity: 0.3;
}

.portfolio-item_image-effect-fall-back:hover .portfolio-item__inner_info-layer {
  opacity: 1;
  -webkit-transform: rotateX(0deg) translateY(-70px);
          transform: rotateX(0deg) translateY(-70px);
}

.main-container__item_contacts .main-container__content {
  padding: 150px 0;
}

.contact-item {
  position: relative;
  display: inline-block;
  width: -webkit-calc(33.33% - 50px);
  width: calc(33.33% - 50px);
  margin-right: 50px;
  margin-bottom: 80px;
  vertical-align: top;
}

.contact-item:nth-child(3n) {
  margin-right: 0;
}

.contact-item:hover .contact-item__tooltip {
  -webkit-animation: tooltip-show 0.5s;
          animation: tooltip-show 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contact-item_linkedin:hover .contact-item__icon {
  color: #0077b5;
}

.contact-item_git:hover .contact-item__icon {
  color: #6e5494;
}

.contact-item_codepen:hover .contact-item__icon {
  color: #fcd000;
}

.contact-item_email:hover .contact-item__icon {
  color: #ea4335;
}

.contact-item_resum {
  margin-right: 0;
}

.contact-item_resum .contact-item__icon:hover {
  color: #49a942;
}

.contact-item__icon {
  font-size: 90px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.contact-item__icon:hover {
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}

.contact-item__tooltip {
  position: absolute;
  top: -70px;
  left: 50%;
  padding: 10px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-animation: tooltip-hide 0.5s;
          animation: tooltip-hide 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contact-item__tooltip:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -8px;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translate(-50%, 0) rotate(45deg);
      -ms-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
}

@-webkit-keyframes tooltip-show {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: -70px;
    opacity: 1;
  }
}

@keyframes tooltip-show {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: -70px;
    opacity: 1;
  }
}

@-webkit-keyframes tooltip-hide {
  0% {
    top: -70px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

@keyframes tooltip-hide {
  0% {
    top: -70px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

@-webkit-keyframes main-container-move {
  0% {
    top: -1100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes main-container-move {
  0% {
    top: -1100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes main-container-back {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -1100px;
    opacity: 0;
  }
}

@keyframes main-container-back {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -1100px;
    opacity: 0;
  }
}

@-webkit-keyframes main-container-item-move {
  0% {
    right: -100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    right: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes main-container-item-move {
  0% {
    right: -100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    right: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes main-container-item-back {
  0% {
    right: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    right: -100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes main-container-item-back {
  0% {
    right: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    right: -100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #2c3e50;
  text-align: center;
}
