@import 'bourbon/bourbon'
@import 'fonts.css'
@import '../libs/animate/animate.min.css'

$text-color: #333
$dark-color: #000
$red-color: #de0000
$blue-color: #2c3e50
$green-color: #67bc5c
$orange-color: #e87e04

*
	box-sizing: border-box

html, body
	font-family: 'RobotoRegular', sans-serif
	color: $text-color
	font-weight: normal
	font-size: 16px
	width: 100%
	height: 100%
	margin: 0;
	background-color: #202d3a
	background-image: url(../images/header_bg.png)
	background-position: bottom right
	background-size: 20%
	background-repeat: no-repeat
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialised
	overflow-x: hidden

p strong
	font-family: 'RobotoBold', sans-serif
	font-weight: normal

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $red-color
	outline: none
	box-shadow: $red-color 0 0 4px 2px
	border-radius: 3px
	border-color: $red-color
body input:required:valid,
body textarea:required:valid
	color: $green-color
	outline: none
	box-shadow: $green-color 0 0 4px 2px
	border-radius: 3px
	border-color: $green-color

.hidden
	display: none

.main
	position: relative
	width: 1280px
	height: 640px
	margin: 0 auto
	color: #fff

.header
	position: absolute
	top: 40%
	left: 0
	width: 50%
	height: auto
	transform: translate(0, -50%);

.header__top-text,
.header__middle-text,
.header__bottom-text
	margin: 0
	letter-spacing: 1px

.header__top-text
	font-size: 60px
	color: $blue-color

.header__middle-text
	font-size: 72px
	font-weight: normal

.header__bottom-text
	font-size: 36px
	color: $blue-color

.main-block
	position: relative
	width: 100%
	height: 100%
	margin: 0 auto
	text-align: center
	font-size: 0
	z-index: 9

.menu-icon,
.menu,
.main-container
	position: relative
	display: inline-block
	vertical-align: top
	font-size: 14px

.menu-icon
	width: 5%
	height: 60px
	margin-top: 100px
	cursor: pointer
	overflow: hidden

.menu-icon_active
	.menu-icon__top-span
		animation: top-span-move 0.5s
		animation-fill-mode: forwards
	.menu-icon__middle-span
		animation: middle-span-move 0.5s
		animation-fill-mode: forwards
	.menu-icon__bottom-span
		animation: bottom-span-move 0.5s
		animation-fill-mode: forwards

.menu-icon__top-span,
.menu-icon__middle-span,
.menu-icon__bottom-span
	position: absolute
	left: 9px
	width: 45px
	height: 4px
	border-radius: 2px
	background-color: #fff
	transform-origin: 50% 50%

.menu-icon__top-span
	top: 15px
	animation: top-span-back 0.4s
	animation-fill-mode: forwards

.menu-icon__middle-span
	top: 28px
	animation: middle-span-back 0.4s
	animation-fill-mode: forwards

.menu-icon__bottom-span
	top: 41px
	animation: bottom-span-back 0.4s
	animation-fill-mode: forwards

@keyframes top-span-move
	0%
		top: 15px
		transform: rotate(0deg)
	100%
		top: 28px
		transform: rotate(45deg)

@keyframes top-span-back
	0%
		top: 28px
		transform: rotate(45deg)
	100%
		top: 15px
		transform: rotate(0deg)

@keyframes middle-span-move
	0%
		left: 9px
	100%
		left: -100px

@keyframes middle-span-back
	0%
		left: -100px
	100%
		left: 9px

@keyframes bottom-span-move
	0%
		top: 41px
		transform: rotate(0deg)
	100%
		top: 28px
		transform: rotate(-45deg)

@keyframes bottom-span-back
	0%
		top: 28px
		transform: rotate(-45deg)
	100%
		top: 41px
		transform: rotate(0deg)

.menu,
.main-container
	top: -100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.5)

.menu
	width: 20%
	padding: 50px 0
	animation: menu-back 0.5s
	animation-fill-mode: forwards

.menu_active
	animation: menu-move 0.5s
	animation-fill-mode: forwards

.menu__item
	position: relative
	width: 100%
	height: 20%
	margin-bottom: -1px
	font-family: 'RobotoBold', sans-serif
	font-size: 36px
	text-transform: uppercase
	border: 1px solid transparent
	cursor: pointer
	&:last-child
		margin-bottom: 0px
	&:hover
		.menu__menu-name
			animation: menu-name-move 0.5s
			animation-fill-mode: forwards
		.menu__menu-pic
			opacity: 1
			transition: all 0.5s

.menu__menu-name,
.menu__menu-pic
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.8)

.menu__menu-name
	padding: 50px 0
	animation: menu-name-back 0.5s
	animation-fill-mode: forwards
	z-index: 2

.menu__menu-pic
	background-size: cover
	background-position: 50%
	background-repeat: no-repeat
	z-index: 1
	opacity: 0
	transition: all 0.5s

.menu__menu-pic_about
	background-image: url(../images/pic_3.jpg)

.menu__menu-pic_expirience
	background-image: url(../images/pic_6.jpg)

.menu__menu-pic_skills
	background-image: url(../images/pic_1.jpg)

.menu__menu-pic_portfolio
	background-image: url(../images/pic_5.jpg)

.menu__menu-pic_contacts
	background-image: url(../images/pic_4.jpg)
	background-position: 0% 100%	

@keyframes menu-move
	0%
		top: -100%
	100%
		top: 0

@keyframes menu-back
	0%
		top: 0
	100%
		top: -100%

@keyframes menu-name-move
	0%
		left: 0
	100%
		left: -50%

@keyframes menu-name-back
	0%
		left: -50%
	100%
		left: 0

.main-container
	width: 75%
	animation: main-container-back 0.5s
	animation-fill-mode: forwards
	overflow: hidden

.main-container_active
	animation: main-container-move 0.5s
	animation-fill-mode: forwards

.main-container__item
	position: absolute
	top: 0
	right: 0
	width: calc(100% - 100px)
	height: calc(100% - 100px)
	margin: 50px
	transform-origin: 50% 50%
	animation: main-container-item-back 0.5s
	animation-fill-mode: forwards

.main-container__item_active
	animation: main-container-item-move 0.5s
	animation-fill-mode: forwards

.main-container__header
	margin: 50px 0
	font-size: 40px
	text-transform: uppercase
	letter-spacing: 2px

.main-container__content
	width: 100%
	height: calc(100% - 170px)
	border-radius: 20px
	overflow: hidden
	background-color: #fff

.main-container__item_about
	.main-container__top-block
		width: 100%
		height: auto
		padding: 15px 0
		background-color: $red-color
		h3
			margin: 0
			font-size: 40px
			text-transform: uppercase
			letter-spacing: 10px
		span
			font-size: 25px
			text-transform: lowercase
			letter-spacing: 5px
	.main-container__middle-block
		width: 100%
		height: calc(100% - 200px)
		padding: 50px 20px
		color: $text-color
		background-color: #fff
		h2
			margin: 0
			margin-bottom: 25px
			font-size: 40px
			letter-spacing: 1px
		p
			margin: 0
	.main-container__bottom-block
		width: 100%
		height: 75px
		background-color: $red-color
	.main-container__image
		width: 150px
		height: 150px
		margin: 0 auto
		border-radius: 50%
		background-color: #586b4f
		background-image: url(../images/photo.png)
		background-position: 50%
		background-repeat: no-repeat
		background-size: cover

.main-container__item_expirience

.main-container__item_skills

.main-container__item_portfolio

.main-container__item_contacts


@keyframes main-container-move
	0%
		top: -100%
	100%
		top: 0

@keyframes main-container-back
	0%
		top: 0
	100%
		top: -100%

@keyframes main-container-item-move
	0%
		right: -100%
		transform: scale(0)
	100%
		right: 0
		transform: scale(1)

@keyframes main-container-item-back
	0%
		right: 0
		transform: scale(1)
	100%
		right: -100%
		transform: scale(0)

footer
	position: absolute
	bottom: 0
	left: 0
	right: 0
	margin: 0 auto
	color: $blue-color
	text-align: center

@import	'media.css'